# Node.js
node_modules/
.env
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
logs
*.log

# Next.js
.next/
out/

# Firebase Emulators (if used)
firebase-debug.log
.firebaserc
.firebase/